/* css styles */

h2 {
    font-size: xx-large;
    border-bottom: none;
    margin-bottom: 0.3rem;
}

code {
    color: #000;
}

.quarto-title-banner {
    padding-top: 80px;
    padding-bottom: 80px;
}

.dark-highlight {
    background-color: rgba(249, 88, 56, 1);
    padding: 5px 10px 6px 10px;
    /* background-color: rgba(0,0,0,1); */
    /* padding: 4.9px 12px 7px 12px; */
}

.quarto-title-banner h1 {
    /* color: #fff; */
    color: #fff;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Helvetia, 'Helvetica Neue', sans-serif;
    font-weight: unset!important;
    font-weight: bold!important;
    /* font-style: italic; */
    /* font-size:3em; */
}
.subtitle {
    /* color: #fff; */
    color: #fff;
    font-family: Helvetia, 'Helvetica Neue', sans-serif;
    font-weight:400!important;
    font-size: 19px;
}